.header {
  margin: 0 0 0.5rem;

  @media (--medium) {
    margin-bottom: 1rem;
  }

  &--dark {
    color: var(--body-bg-color);
  }

  &--lit {
    color: var(--anchor-hover-font-color);
  }

  & > h1 {
    transition: color 200ms ease;
  }
}
