.header {
  margin: 0 0 0.5rem;

  @media (--medium) {
    margin-bottom: 1rem;
  }

  & > h1 {
    font-family: var(--font-serif);
    font-size-responsive: 1.5rem 3.5rem 20rem 50rem;
    margin: 0;
  }
}
