@import "./_variables.css";

.link {
  color: var(--theme-cyan);
  transition: color 200ms ease;

  .icon {
    fill: var(--theme-cyan);
    transition: fill 200ms ease;
  }

  &:hover {
    color: var(--theme-green);

    .icon {
      fill: var(--theme-green);
    }
  }

  &--icon {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 0.5rem;
    }
  }

  &--dark {
    color: var(--theme-comment);
  }
}
